@font-face {
   font-family: "OpenSans-Bold";
   src: url("/src/fonts/OpenSans-Bold.ttf");
}

@font-face {
   font-family: "OpenSans-Regular";
   src: url("/src/fonts/OpenSans-Regular.ttf");
}

@font-face {
   font-family: "OpenSans-SemiBold";
   src: url("/src/fonts/OpenSans-SemiBold.ttf");
}

@font-face {
   font-family: "OpenSans-ExtraBold";
   src: url("/src/fonts/OpenSans-ExtraBold.ttf");
}