.burger {
   height: 100%;
   width: 100%;
   position: relative;


   &__bun-top {
      background-image: url(../images/Type=bun_top.svg);

   }

   &__salad-top {
      background-image: url(../images/Type=salad.svg);

   }

   &__salad-bot {
      background-image: url(../images/Type=salad.svg);

   }

   &__mayo-top {
      background-image: url(../images/Type=mayo.svg);
   }

   &__mayo-bot {
      background-image: url(../images/Type=mayo.svg);
   }


   &__cucumber-1 {
      background-image: url(../images/Type=cucumber.png);
   }

   &__cucumber-2 {
      background-image: url(../images/Type=cucumber.png);
   }

   &__cucumber-3 {
      background-image: url(../images/Type=cucumber.png);
   }

   &__cucumber-4 {
      background-image: url(../images/Type=cucumber.png);
   }


   &__tomato-1 {
      background-image: url(../images/Type=tomato.png);
   }

   &__tomato-2 {
      background-image: url(../images/Type=tomato.png);
   }

   &__tomato-3 {
      background-image: url(../images/Type=tomato.png);
   }

   &__tomato-4 {
      background-image: url(../images/Type=tomato.png);
   }

   &__cutlet {
      background-image: url(../images/Type=cutlet.svg);
   }

   &__onion-1 {
      background-image: url(../images/Type=onion.png);
   }

   &__onion-2 {
      background-image: url(../images/Type=onion.png);
   }

   &__onion-3 {
      background-image: url(../images/Type=onion.png);
   }

   &__onion-4 {
      background-image: url(../images/Type=onion.png);
   }

   &__onion-5 {
      background-image: url(../images/Type=onion.png);
   }

   &__onion-6 {
      background-image: url(../images/Type=onion.png);
   }

   &__cheese {
      background-image: url(../images/Type=cheese.svg);
   }

   &__bun-bot {
      background-image: url(../images/Type=bun_bottom.svg);
   }

   &__emo-1 {
      background-image: url(../images/emo1.svg);
   }

   &__emo-2 {
      background-image: url(../images/emo2.svg);
   }

   &__emo-3 {
      background-image: url(../images/emo3.svg);
   }

   &__emo-4 {
      background-image: url(../images/emo4.svg);
   }
}