.header {
   position: relative;
   z-index: 3;

   &__inner {
      display: flex;
      justify-content: space-between;
   }

   &__leftside {
      display: flex;
      align-items: center;
   }

   &__changer-inner {
      display: flex;
      justify-content: space-between;
      margin-left: 80px;
      width: 240px;
   }

   &__page-changer {
      font-family: OpenSans-Regular;
      font-size: 16px;
      line-height: 20px;
      color: #1F2939;
      @include reset-button;
   }

   &__page-changer--active {
      font-family: OpenSans-SemiBold;
      color: #1F2939;
   }

   &__rightside {
      display: flex;
      align-items: center;
   }

   &__contact-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 60px;
   }

   &__cta-btn {
      @include reset-button;
      width: 142px;
      height: 32px;
      background-color: #FFEDED;
      border-radius: 99px;
      margin-right: 60px;
      transition: 0.2s linear;
   }

   &__cta-btn:hover {
      background-color: #f9d7d8;
   }

   &__cta-btn-text {
      font-family: OpenSans-SemiBold;
      font-size: 16px;
      line-height: 20px;
      color: #FF4D4F;

      #e54547 &::before {
         content: url(../images/phone.svg);
         margin-right: 6px;
      }
   }

   &__phone {
      @include reset-link;
      font-family: OpenSans-SemiBold;
      font-size: 16px;
      line-height: 20px;
      color: #1F2939;
   }

   &__page-changer {
      position: relative;

      transition: opacity .3s cubic-bezier(.51, .92, .24, 1);

      &::after {
         --scale: 0;

         content: '';
         position: absolute;
         left: 0;
         right: 0;
         top: 100%;
         height: 3px;
         background: linear-gradient(135deg, #FF9293, #473AA6);
         transform: scaleX(var(--scale));
         transform-origin: var(--x) 50%;
         transition: transform .3s cubic-bezier(.51, .92, .24, 1);
      }

      &:hover {
         opacity: 1;
      }

      &:hover::after {
         --scale: 1;
      }
   }
}